/*Styles.css*/
@font-face {
  font-family: 'Fredoka One';
  src: url('fuentes/FredokaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}  

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background: #504f4f;
  color: #fff;
  padding: 20px;
  width: 1070px;
}

.main-container {
  display: flex;
  gap: 30px;
}

.formulario {
  flex: 1;
  max-width: 400px;
  background: #1a1a1a;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.formulario h1 {
  margin-bottom: 20px;
  color: #ffed00;
}

.formulario label {
  margin-top: 15px;
  display: block;
  font-weight: bold;
}

.formulario input[type="text"],
.formulario input[type="file"],
.formulario textarea,
.formulario select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.formulario button {
  width: 100%;
  padding: 10px;
  background-color: #ffed00;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  color: #111;
  transition: background 0.3s;
}

.formulario button:hover {
  background-color: #ffc400;
}

/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/
.preview h2 {
  margin-bottom: 10px;
}

.preview {
  width: 600px;
  height: 760px;
}

.preview__container {
  scale: 0.38;
  transform-origin: top left;
}

#post-preview {
  width: 1080px;
  height: 1440px;
  aspect-ratio: 3 / 4;
  position: relative;
}

.post-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
}

.plantilla-bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  z-index: 3;
  pointer-events: none;
}

.imagen-fondo-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

#imagen-fondo {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: move;
  transform-origin: center center;
}

.texto-post {
  position: absolute;
  width: 100%;
  height: 20%; /*estaba en 18*/
  z-index: 4; 
  /*background-color: rgba(154, 255, 71, 0.226);*/
}

.description {
  font-size: 39px;
  line-height: 1,29em;
  font-weight: 500;
  width: 60%;
  /*color: rgb(115, 255, 0);*/
}

.description .resaltado {
  color: #ffed00;
}
/*↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*/

.descarga {
  margin-top: 60px;
}

.controles__container {
  display: none;
}

/* ✅ Teléfonos (menos de 768px) */
@media (max-width: 768px) {
  body {
      width: 100%;
      padding: 10px;
  }
  .main-container {
      flex-direction: column;
      /*max-width: 768px;*/
  }
  .formulario {
      width: 100%;
  }
  .preview {
      width: 100%;
      height: 420px;
  }
  .preview__container {
      width: 100%;
      scale: 0.25;
  }

  .controles__container {
      display: block;
  }
  .controles-zoom {
      display: flex;
      gap: 5px;
      margin-top: 10px;
      /*justify-content: left;*/
  }
  .controles-zoom button {
      font-size: 20px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: none;
      background-color: #ffed00;
      color: #111;
      font-weight: bold;
      cursor: pointer;
  }

  .tittle__movimiento {
      margin-top: 15px;
  }

  .controles-movimiento {
      display: flex;
      flex-direction: column;
      margin-top: 15px;
      gap: 10px;
  }

  .fila-mov {
      display: flex;
      align-items: center;
      gap: 5px;
  }

  .controles-movimiento button {
      width: 30px;
      height: 30px;
      font-size: 20px;
      border: none;
      border-radius: 50%;
      background-color: #ffed00;
      color: #111;
      font-weight: bold;
      cursor: pointer;
  }
}

/* ---------------------------------- */
/* 🎨 Estilos para Plantilla 1 */
/* ---------------------------------- */
.plantilla-1 .imagen-fondo-wrapper {
  height: 65%;
  background-color: #ffed00;
}
.plantilla-1 #imagen-fondo {
  background-size: contain;
}
.plantilla-1 .degradado-imagen {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  pointer-events: none;
  z-index: 2;
  background: linear-gradient(to bottom, transparent, #000);
}
.plantilla-1 .texto-post {
  top: 77%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.plantilla-1 .description {
  font-size: 39px;
  line-height: 1,29em;
  font-weight: 500;
  width: 60%;
}
.plantilla-1 .etiquetas {
  display: none;
}

/* ---------------------------------- */
/* 🆕 Estilos para Plantilla 2 */
/* ---------------------------------- */
.plantilla-2 .imagen-fondo-wrapper {
  height: 100%;
  background-color: #ffed00;
}
.plantilla-2 #imagen-fondo {
  background-size: cover;
  background-position: center;
}

.plantilla-2 .etiquetas img {
  width: 200px;
  margin-left: 2px;
  margin-top: 12px;
  object-fit: contain;
}

.plantilla-2 .degradado-imagen {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
  background-color: #00000054;
}
.plantilla-2 .texto-post {
  top: 77%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 98px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: left;
}
.plantilla-2 .description {
  width: 63%;
  font-size: 40px;
  line-height: 1.2em;
  text-align: left;
}
.plantilla-2 .description .resaltado {
  color: #ffed00;
}

/* ---------------------------------- */
/* 🎨 Estilos para Plantilla 3 */
/* ---------------------------------- */
.plantilla-3 .imagen-fondo-wrapper {
  display: none;
}
.plantilla-3 #imagen-fondo {
  display: none;
}
.plantilla-3 .degradado-imagen {
  display: none;
}
.plantilla-3 .texto-post {
  top: 53.8%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 430px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /*background-color: rgba(0, 0, 255, 0.425);*/
}
.plantilla-3 .description {
  font-size: 53px;
  line-height: 1.2em;
  font-weight: 500;
  width: 78.5%;
  /*background-color: rgba(0, 136, 18, 0.322);*/
}
.plantilla-3 .etiquetas {
  display: none;
}

/* ---------------------------------- */
/* 🆕 Estilos para Plantilla 4 */
/* ---------------------------------- */
.plantilla-4 .imagen-fondo-wrapper {
  height: 100%;
  background-color: #ffed00;
}
.plantilla-4 #imagen-fondo {
  background-size: cover;
  background-position: center;
}

.plantilla-4 .etiquetas img {
  width: 272px;
  margin-left: 2px;
  margin-top: 12px;
  object-fit: contain;
}

.plantilla-4 .degradado-imagen {
  display: none;
}
.plantilla-4 .texto-post {
  top: 77.6%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.plantilla-4 .description {
  font-size: 36px;
  line-height: 1.2em;
  font-weight: 500;
  width: 65%;
}
.plantilla-4 .etiquetas {
  display: none;
}

/* ---------------------------------- */
/* 🆕 Estilos para Plantilla 5 */
/* ---------------------------------- */
.plantilla-5 .imagen-fondo-wrapper {
  height: 100%;
  background-color: #ffed00;
}
.plantilla-5 #imagen-fondo {
  background-size: cover;
  background-position: center;
}

.plantilla-5 .etiquetas img {
  width: 272px;
  margin-left: 2px;
  margin-top: 12px;
  object-fit: contain;
}

.plantilla-5 .degradado-imagen {
  display: none;
}
.plantilla-5 .texto-post {
  top: 79.4%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 113px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.plantilla-5 .description {
  font-size: 36px;
  line-height: 1.2em;
  font-weight: 500;
  width: 65%;
}
.plantilla-5 .etiquetas {
  display: none;
}

/* ---------------------------------- */
/* 🎨 Estilos para Plantilla 6 */
/* ---------------------------------- */
.plantilla-6 .imagen-fondo-wrapper {
  height: 65%;
  background-color: #00b000;
}
.plantilla-6 #imagen-fondo {
  background-size: contain;
}
.plantilla-6 .degradado-imagen {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  pointer-events: none;
  z-index: 2;
  background: linear-gradient(to bottom, transparent, #000);
}
.plantilla-6 .texto-post {
  top: 77%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.plantilla-6 .description {
  font-size: 39px;
  line-height: 1,29em;
  font-weight: 500;
  width: 60%;
}
.plantilla-6 .description .resaltado {
  color: #00b000;
}
.plantilla-6 .etiquetas {
  display: none;
}

/* ---------------------------------- */
/* 🎨 Estilos para Plantilla 7 */
/* ---------------------------------- */
.plantilla-7 .imagen-fondo-wrapper {
  height: 65%;
  background-color: #ff0000;
}
.plantilla-7 #imagen-fondo {
  background-size: contain;
}
.plantilla-7 .degradado-imagen {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  pointer-events: none;
  z-index: 2;
  background: linear-gradient(to bottom, transparent, #000);
}
.plantilla-7 .texto-post {
  top: 77%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.plantilla-7 .description {
  font-size: 39px;
  line-height: 1,29em;
  font-weight: 500;
  width: 60%;
}
.plantilla-7 .description .resaltado {
  color: #ff0000;
}
.plantilla-7 .etiquetas {
  display: none;
}

/* ---------------------------------- */
/* 🆕 Estilos para Plantilla 8 */
/* ---------------------------------- */
.plantilla-8 .imagen-fondo-wrapper {
  height: 100%;
  background-color: #ffed00;
}
.plantilla-8 #imagen-fondo {
  background-size: cover;
  background-position: center;
}

.plantilla-8 .etiquetas img {
  display: none;
}

.plantilla-8 .degradado-imagen {
  display: none;
}
.plantilla-8 .texto-post {
  display: none;
}
.plantilla-8 .description {
  display: none;
}
.plantilla-8 .description .resaltado {
  display: none;
}